body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h2, #judul a, .posttitle {
    font-weight: 700;
}

.desc {
    font-weight: 300;
}
#wrap {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}

#kiri {
    width: 250px;
    height: auto;
    float: left;
    background-color: white;
    margin: 0 0 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    border-top-left-radius: 50px;
}

#kiri h2 {
    margin: 0;
    padding: 5px 12px;
    color: white;
    font-size: 20px;
    background: darkred;
}

#kiri ul {
    margin: 0 0 20px 20px;
    padding: 0;
    list-style: none;
    width: 200px;
}

#kiri a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted red;
}

#kiri a:hover {
    background: red;
    color: white;
}

#header {
    width: 730px;
    height: 300px;
    margin: auto;
    background-image: url(fotbar.png);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    border-bottom-right-radius: 50px;
    float: right;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#judul {
    font-size: 35px;
    text-align: right;
    padding: 170px 40px 0 0;
    text-shadow: 1px 1px 3px #000;
}

#judul a {
    color: white;
    text-decoration: none;
}

#judul a:hover {
    color: #ddd;
}

.desc {
    font-size: 24px;
    color: white;
    text-align: right;
    padding: 0 40px 0 0;
    text-shadow: 1px 1px 3px #000;
}

#menu {
    width: 730px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    float: right;
    background: darkred;
    position: relative;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

#menu ul li:hover {
    background: red;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: darkred;
    padding: 0;
}

#menu ul li:hover > ul {
    display: block;
}

#menu ul ul li {
    float: none;
    position: relative;
}

#menu ul ul li a {
    padding: 10px 30px;
    color: white;
}

#menu ul ul li a:hover {
    background: red;
}

#konten {
    width: 690px;
    height: auto;
    margin: 0 0 20px;
    padding: 20px;
    float: right;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.posttitle {
    font-size: 30px;
    font-family: Arial;
    color: red;
    text-decoration: none;
}

.post {
    margin: 0 20px 20px 0;
    text-align: justify;
}

.post img {
    width: 30%;
    height: 180px;
    object-fit: cover;
    margin: 5px;
    vertical-align: top;
}

#footer {
    background-color: darkred;
    padding-top: 20px;
    width: 1000px;
    height: 70px;
    clear: both;
    margin: 20px 0;
    text-align: center;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 20px;
    justify-content: center;
}
.video-item {
    flex: 1 1 320px;
    max-width: 350px; 
}

