html {
    background-color: #00539F; /* Biru gelap untuk latar belakang html */
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500; /* Oranye untuk latar belakang body */
    padding: 0 20px 20px 20px;
    border: 5px solid black; /* Border hitam */
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F; /* Biru gelap untuk teks H1 */
    text-shadow: 3px 3px 1px black; /* Efek bayangan teks */
    font-size: 60px; /* Ukuran font besar */
    text-align: center; /* Teks di tengah */
}

img {
    display: block;
    margin: 0 auto;
}

/* Bagian CSS untuk p, li, dan button dihilangkan jika tidak ada elemennya di HTML */